/* styles.css */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(212, 168, 81) 50%, transparent 50%), 
                linear-gradient(to bottom, rgb(35, 48, 57) 50%,  rgb(35, 48, 57)50%);
    background-size: 100% 100%;
    margin: 0;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
}

header .logo {
    width: 250px; /* Adjust size as needed */
    height: auto;
}

.login-container {
    background: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    z-index: 1;
    
}
p{
    color:burlywood;
}
h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    background: transparent;
    color: #fff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4cae4c;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
